<h4>Añadir canción</h4>
<form nz-form nzLayout="inline" [formGroup]="newSongForm">
    <nz-form-item>
        <nz-form-control nzErrorTip="El título es requerido">
            <nz-input-group>
                <input type="text" nz-input formControlName="titulo" placeholder="Título" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="El artista es requerido">
            <nz-input-group>
                <input type="text" nz-input formControlName="artista" placeholder="Artista" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="El album es requerido">
            <nz-input-group>
                <input type="text" nz-input formControlName="album" placeholder="Album" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="El año es requerido">
            <nz-input-group>
                <input type="text" nz-input formControlName="anno" placeholder="Año" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="El género es requerido">
            <nz-input-group>
                <input type="text" nz-input formControlName="genero" placeholder="Género" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <button type="button" nz-button [nzType]="'primary'" (click)="createNewSong()">Añadir canción</button>
</form>