<div class="icon">
    <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
</div>
<div class="info">
    <p class="name">{{ name | textShortener:20 }}</p>
    <p class="songs">Canciones: {{ songs }}</p>
</div>
<button
    class="play"
    nz-button
    nzType="primary"
    nzShape="circle"
    (click)="sendPlay($event)"
>
    <span nz-icon nzType="play-circle" nzTheme="outline"></span>
</button>