:host {
    display: flex;
    width: 100%;
    min-width: 380px;
    max-width: 420px;
    height: 100px;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
    position: relative;

    .icon {
        width: 100px;
        height: 100px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(32, 32, 35);
        transition: background-color 100ms ease-in-out;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;

        .name {
            font-size: 1.1rem;
            margin: 0;
        }

        .songs {
            color: #9c9c9c;
            margin: 0;
        }
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);

        .icon {
            background-color: rgb(37, 37, 38);
        }

        .play {
            opacity: 1;
        }
    }

    .play {
        font-size: 1.3rem;
        padding: 0;
        position: absolute;
        right: 10px;
        bottom: 10px;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }
}