<nz-table #songsTable [nzData]="songs" [nzPageSize]="7">
    <thead>
      <tr>
        <th>Título</th>
        <th>Artista</th>
        <th>Album</th>
        <th>Año</th>
        <th>Género</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of songsTable.data; let i = index">
        <td>{{song.titulo}}</td>
        <td>{{song.artista}}</td>
        <td>{{song.album}}</td>
        <td>{{song.anno}}</td>
        <td>{{song.genero}}</td>
        <td>
          <a (click)="deleteSong(song)">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>