:host {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .wrapper {
        flex: 1 1 auto;
        display: flex;

        .side-nav {
            width: 280px;
            min-width: 280px;
            background-color: rgb(29, 29, 33);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .content {
            flex: 1 1 auto;
            padding: 20px;
            box-sizing: border-box;
        }
    }

    .player {
        height: 150px;
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.2);
    }
}