<div *ngFor="let playlist of playlists" (click)="goToDetail(playlist)">
    <app-playlist-item 
        appPrimary
        [name]="playlist.nombreLista"
        [songs]="playlist.songs.length"
    ></app-playlist-item>
</div>