:host {
    display: flex;
    align-items: center;
    position: relative;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        font-size: 4rem;
        background-color: rgb(32, 32, 35);
        margin-right: 20px;
    }

    .info {
        .main-title {
            margin: 0;
        }

        .descripcion {
            margin: 0;
        }
    }

    .delete {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}