<div class="icon">
    <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
</div>
<div class="info">
    <h2 class="main-title">{{ playlist.nombreLista }}</h2>
    <p class="description">{{ playlist.descripcion }}</p>
</div>
<button
    class="delete"
    nz-button
    nz-popover
    nzDanger
    nzType="primary"
    nzSize="large"
    nzShape="circle"
    nzPopoverContent="Eliminar lista"
    nzPopoverPlacement="left"
    (click)="deleteList()"
>
    <span nz-icon nzType="delete" nzTheme="outline"></span>
</button>