<app-playlist-header class="header" *ngIf="playlist" [playlist]="playlist" (delete)="confirmDelete()"></app-playlist-header>
<app-new-song *ngIf="playlist" class="new-song" (create)="createSong($event)"></app-new-song>
<app-playlist-songs
    *ngIf="playlist"
    [songs]="playlist.songs"
    (delete)="deleteSong($event)"
></app-playlist-songs>
<div *ngIf="error" class="error">{{ error | uppercase }}</div>