<form nz-form [formGroup]="signUpForm" class="sign-up-form" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-control nzErrorTip="Este campo es requerido">
            <nz-input-group>
                <input type="text" nz-input formControlName="first_name" placeholder="Nombre" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Este campo es requerido">
            <nz-input-group>
                <input type="text" nz-input formControlName="last_name" placeholder="Apellidos" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Este campo es requerido">
            <nz-input-group>
                <input type="text" nz-input formControlName="email" placeholder="Email" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Este campo es requerido">
            <nz-input-group>
                <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Debes ingresar una url">
            <nz-input-group>
                <input type="text" nz-input formControlName="photo" placeholder="Foto" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <button nz-button class="sign-up-form-button sign-up-form-margin" [nzType]="'primary'">Registrarme</button>
    ¿Ya tienes cuenta? <a [routerLink]="['/', 'auth', 'sign-in']">Inicia sesión</a>
</form>