@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@400;500&display=swap');
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.dark.less";

body {
    background-color: rgb(41, 42, 49);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    color: @primary-color;
}

.main-title {
    margin: 20px 0 30px 0;
    font-size: 1.6rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #404040;
}

::-webkit-scrollbar-thumb {
    background: @primary-color;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.error {
    color: @error-color;
    display: block;
    margin-top: 10px;
}