<h2 class="main-title">Listas de reproducción</h2>
<app-playlist class="playlist" [playlists]="playlists" (detail)="goToDetail($event)"></app-playlist>
<button
    class="add"
    nz-button
    nz-popover
    nzType="primary"
    nzSize="large"
    nzShape="circle"
    nzPopoverContent="Crear lista"
    nzPopoverPlacement="left"
    (click)="toggleNewPlaylist()"
>
    <span nz-icon nzType="plus"></span>
</button>

<nz-modal
    [nzVisible]="isVisibleNewPlaylist"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="toggleNewPlaylist()"
>
    <ng-template #modalTitle>
        <h3>Nueva playlist</h3>
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="toggleNewPlaylist()">Cancelar</button>
        <button nz-button nzType="primary" (click)="createPlaylist()" [nzLoading]="isCreating">Crear</button>
    </ng-template>
</nz-modal>

<ng-template #modalContent>
    <form nz-form [formGroup]="newPlaylistForm">
        <nz-form-item>
            <nz-form-control nzErrorTip="El nombre es requerido">
                <nz-input-group>
                    <input type="text" nz-input formControlName="nombre" placeholder="Nombre" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="La descripción es requerido">
                <nz-input-group>
                    <input type="text" nz-input formControlName="descripcion" placeholder="Descripción" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <h4>Canciones</h4>
        <div class="songs" formArrayName="canciones">
            <div class="song" *ngFor="let song of songs.controls; let i = index" class="song" [formGroupName]="i">
                <nz-form-item>
                    <nz-form-control nzErrorTip="El título es requerido">
                        <nz-input-group>
                            <input type="text" nz-input formControlName="titulo" placeholder="Título" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="El artista es requerido">
                        <nz-input-group>
                            <input type="text" nz-input formControlName="artista" placeholder="Artista" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="El album es requerido">
                        <nz-input-group>
                            <input type="text" nz-input formControlName="album" placeholder="Album" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="El año es requerido">
                        <nz-input-group>
                            <input type="text" nz-input formControlName="anno" placeholder="Año" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="El género es requerido">
                        <nz-input-group>
                            <input type="text" nz-input formControlName="genero" placeholder="Género" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <button type="button" nz-button [nzType]="'primary'" (click)="insertSong()">Añadir canción</button>
        <span class="error" *ngIf="newPlaylistError">{{ newPlaylistError }}</span>
    </form>
</ng-template>