:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .add {
        position: absolute;
        bottom: 30px;
        right: 30px;
        padding: 0;
        font-size: 1.6rem;
    }
}

.songs {
    max-height: 350px;
    overflow-y: auto;

    .song {
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 20px;
    }
}